@use 'scss/breakpoint' as bp;
@use 'scss/unit' as u;

.wrapper {
  align-items: center;
  display: flex;
  min-height: 100vh;

  @include bp.down(md) {
    margin: u.rem-calc(200) 0;
    min-height: unset;
  }

  @include bp.down(sm) {
    margin: u.rem-calc(100) 0 u.rem-calc(200);
  }
}
