@use 'scss/color';
@use 'scss/font';
@use 'scss/mixins/background' as b;
@use 'scss/placeholders/shadows';
@use 'scss/unit' as u;

.icon {
  transition: 0.25s;
  width: u.rem-calc(34);
}

.is-iconed-button {
  height: u.rem-calc(50);
  justify-content: center;
  padding: 0;
  width: u.rem-calc(50);

  .icon {
    width: u.rem-calc(30);
  }
}

.button {
  @include b.background(color.get(yellow), color.get(yellow-1));

  align-items: center;
  color: color.get(gray-2);
  cursor: pointer;
  display: flex;
  font-family: font.get(primary);
  gap: u.rem-calc(15);
  outline: none;
  transition: 0.35s cubic-bezier(0.6, 2, 0.8, 0.5);

  &:hover,
  &:focus-visible {
    @include b.background(color.get(green-2), color.get(green-3));
  }

  &:not(.is-iconed-button) {
    padding: u.rem-calc(10) u.rem-calc(20);
    width: fit-content;

    &:hover,
    &:focus-visible {
      .icon {
        transform: translateX(u.rem-calc(15)) scale(1.5);
      }
    }
  }
}

.left {
  @extend %shadow-left;

  &:hover,
  &:focus-visible {
    transform: perspective(u.rem-calc(800)) rotateY(-20deg) scale(1.1)
      rotate(5deg) scale(1.05);
  }
}

.right {
  @extend %shadow-right;

  &:hover,
  &:focus-visible {
    transform: perspective(u.rem-calc(800)) rotateY(20deg) scale(1.1)
      rotate(-5deg) scale(1.05);
  }
}
