@use 'scss/breakpoint' as bp;
@use 'scss/color';
@use 'scss/mixins/background' as b;
@use 'scss/placeholders/shadows';
@use 'scss/unit' as u;

.wrapper {
  counter-reset: list-counter;
}

.item {
  @extend %shadow-left;

  @include b.background(color.get(beige), color.get(beige-1));

  color: color.get(gray-2);
  list-style: none;
}

.secondary-variant {
  display: flex;
  flex-wrap: wrap;
  gap: u.rem-calc(20);

  @include bp.down(sm) {
    gap: u.rem-calc(12);
  }

  .item {
    padding: u.rem-calc(10);
  }
}

.primary-variant .item {
  padding: u.rem-calc(20);

  &::before {
    content: '#' counter(list-counter) '. ';
    counter-increment: list-counter;
  }

  &:not(:last-child) {
    margin-bottom: u.rem-calc(30);

    @include bp.down(sm) {
      margin-bottom: u.rem-calc(15);
    }
  }
}
