@use 'scss/breakpoint' as bp;
@use 'scss/placeholders/shadows';
@use 'scss/unit' as u;

.wrapper {
  align-items: center;
  display: flex;
  gap: u.rem-calc(30);
  justify-content: space-between;
  min-height: 100vh;

  @include bp.down(sm) {
    flex-direction: column;
    min-height: unset;
  }
}
