@use 'scss/breakpoint' as bp;
@use 'scss/color';
@use 'scss/placeholders/shadows';
@use 'scss/unit' as u;

@keyframes skillsAnimation {
  50% {
    transform: perspective(u.rem-calc(800)) rotate(2deg) scale(1);
  }
}

.wrapper {
  align-items: center;
  display: flex;
  gap: u.rem-calc(50);
  justify-content: space-between;
  min-height: 100vh;

  @include bp.down(md) {
    flex-direction: column;
    margin-top: u.rem-calc(80);
    min-height: unset;
  }
}

.title {
  color: color.get(gray-2);
  margin-bottom: u.rem-calc(30);
}

.about {
  max-width: u.rem-calc(500);
  transform: perspective(u.rem-calc(800)) rotateY(15deg) scale(1.1)
    translateX(u.rem-calc(30));

  @include bp.down(md) {
    max-width: 85%;
    transform: perspective(u.rem-calc(700)) rotateY(5deg) scale(1.1);
  }
}

.description {
  color: color.get(gray-2);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: u.rem-calc(20);
  justify-content: space-between;
  margin-top: u.rem-calc(30);
}

.skills {
  max-width: u.rem-calc(500);

  @include bp.down(md) {
    margin-top: u.rem-calc(20);
    max-width: unset;
  }
}

.skillsList {
  animation: skillsAnimation 3s infinite;
  transform: perspective(u.rem-calc(800)) rotateY(-15deg) scale(1.05);

  @include bp.down(md) {
    transform: none;
  }
}
