@use 'scss/breakpoint' as bp;
@use 'scss/color';
@use 'scss/unit' as u;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: u.rem-calc(30);
  justify-content: space-between;
  min-height: 100vh;

  @include bp.down(md) {
    flex-direction: column;
    gap: u.rem-calc(50);
    margin-top: u.rem-calc(80);
    min-height: unset;
  }
}

.title {
  color: color.get(gray-2);
  margin-bottom: u.rem-calc(30);
}

.description {
  color: color.get(gray-2);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: u.rem-calc(20);
  justify-content: space-between;
  margin-top: u.rem-calc(30);
}
