/**
 * Global styles
 */

@use 'scss/color';
@use 'scss/font';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: font.get(primary);
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
