/**
 * Typography setup
 */

$heading-tags: (h1, h2, h3, h4, h5, h6);

$styles: (
  h1: (
    font-size: 96,
    line-height: 110,
    font-weight: 400,
    font-family: 'primary',
    xs: (
      font-size: 40,
      line-height: 46,
    ),
  ),
);
