/**
 * Variables
 */
@use 'scss/unit' as u;

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

$fonts: (
  primary: (
    'Bangers',
    cursive,
  ),
);

$colors: (
  beige: #e0d5c7,
  black: #000,
  gray-1: #f0f0f0,
  gray-2: #444,
  gray-3: #292929,
  gray-4: #171717,
  green-1: #d7fed4,
  green-2: #96df7d,
  red-1: #ffe4e4,
  red-2: #df7d7d,
  white: #fff,
  yellow: #fbda00,
);

$breakpoints: (
  xs: 480,
  sm: 768,
  md: 992,
  lg: 1220,
  xl: 1650,
);

$shadow-right: u.rem-calc(-5) u.rem-calc(5) 0 0 #444444;
$shadow-left: u.rem-calc(5) u.rem-calc(5) 0 0 #444444;
