@use 'scss/color';
@use 'scss/mixins/background' as b;

%layer {
  height: 100%;
  opacity: 0.35;
  pointer-events: none;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.paperLayer {
  @extend %layer;
}

.comicLayer {
  @extend %layer;

  @include b.background(color.get(white), color.get(beige-1));
}
