@use 'scss/breakpoint' as bp;
@use 'scss/color';
@use 'scss/config/variables' as v;
@use 'scss/mixins/background' as b;
@use 'scss/unit' as u;

%layer {
  height: 100%;
  opacity: 0.35;
  pointer-events: none;
  position: fixed;
  width: 100%;
}

.paperLayer {
  @extend %layer;

  object-fit: cover;
  z-index: 3;
}

.comicLayer {
  @extend %layer;

  @include b.background(color.get(white), color.get(beige-1));

  z-index: 1;
}

.content {
  margin: auto;
  max-width: u.rem-calc(1200);
  padding: 0 v.$padding;
  position: relative;
  z-index: 2;

  @include bp.down(md) {
    max-width: 90%;
  }

  @include bp.down(sm) {
    padding: v.$padding-mobile;
  }
}

.socialLinks {
  display: flex;
  gap: u.rem-calc(20);
  position: fixed;
  right: u.rem-calc(30);
  top: u.rem-calc(30);
  z-index: 4;

  @include bp.down(sm) {
    margin: 0 0 u.rem-calc(30) auto;
    position: static;
    width: fit-content;
  }
}
