@use 'scss/breakpoint' as bp;
@use 'scss/color';
@use 'scss/config/variables' as v;
@use 'scss/mixins/background' as b;
@use 'scss/unit' as u;

%layer {
  height: 100%;
  pointer-events: none;
  position: fixed;
  width: 100%;
}

.paperLayer {
  @extend %layer;

  object-fit: cover;
  opacity: 0.35;
  z-index: 4;
}

.comicLayer {
  @extend %layer;

  @include b.background(color.get(white), color.get(beige-1));

  opacity: 0.4;
  z-index: 2;
}

.content {
  display: flex;
  flex-direction: column;
  gap: u.rem-calc(100);
  margin: auto;
  max-width: u.rem-calc(1200);
  padding: 0 v.$padding;
  position: relative;
  z-index: 2;

  @include bp.down(md) {
    max-width: 90%;
  }

  @include bp.down(sm) {
    gap: u.rem-calc(50);
    padding: v.$padding-mobile;
  }
}

.socialLinks {
  display: flex;
  gap: u.rem-calc(20);
  position: fixed;
  right: u.rem-calc(30);
  top: u.rem-calc(30);
  z-index: 4;

  @include bp.down(sm) {
    margin: 0 0 u.rem-calc(30) auto;
    position: static;
    width: fit-content;
  }
}

@keyframes rotate {
  0% {
    transform: scale(1.1);
  }

  25% {
    transform: rotate(5deg) scale(1.2);
  }

  50% {
    transform: scale(1.1);
  }

  75% {
    transform: rotate(-5deg) scale(1.2);
  }

  100% {
    transform: scale(1.1);
  }
}

.background {
  animation: rotate 15s infinite alternate;
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: fixed;
  top: 0;
  width: 100vw;

  @media screen and (orientation: portrait) {
    .landscape {
      display: none;
    }
  }

  @media screen and (orientation: landscape) {
    .portrait {
      display: none;
    }
  }
}
