@use 'scss/breakpoint' as bp;
@use 'scss/placeholders/shadows';
@use 'scss/unit' as u;

@keyframes rotateImageAnimation {
  55% {
    transform: perspective(u.rem-calc(800)) rotateY(5deg) rotateX(2deg)
      translateY(u.rem-calc(5)) scale(1);
  }
}

@keyframes rotateLinksAnimation {
  25% {
    transform: rotateY(5deg);
  }

  75% {
    transform: rotateY(2deg) rotate(5deg);
  }
}

.wrapper {
  align-items: center;
  display: flex;
  gap: u.rem-calc(30);
  justify-content: space-between;
  min-height: 100vh;

  @include bp.down(md) {
    flex-direction: column;
    gap: u.rem-calc(100);
    margin-top: u.rem-calc(60);
    min-height: unset;
  }

  @include bp.down(xs) {
    margin: 0;
  }
}

.image {
  @extend %shadow-left;

  animation: rotateImageAnimation 5s infinite;
  height: u.rem-calc(500);
  max-width: u.rem-calc(400);
  width: 100%;

  @include bp.down(md) {
    height: unset;
  }
}

.links {
  animation: rotateLinksAnimation 8s infinite alternate;
  height: u.rem-calc(500);
  max-width: u.rem-calc(500);
  transform: perspective(u.rem-calc(800)) rotateY(-2deg) scale(1.1);
  width: 100%;

  @include bp.down(md) {
    height: unset;
  }
}
