@use 'scss/unit' as u;

.icon {
  left: u.rem-calc(6);
  opacity: 0;
  position: absolute;
  top: u.rem-calc(-40);
  transform: scale(0);
  transition: 0.35s;
}

.inner {
  height: 100%;
  position: relative;
  width: 100%;
}

.wrapper {
  height: u.rem-calc(100);
  pointer-events: none;
  position: fixed;
  transform: translateX(u.rem-calc(-15));
  width: u.rem-calc(100);
  z-index: 3;
}

.feedback-bang:not(.state-wave) .bang {
  opacity: 1;
  transform: scale(1);
}

.feedback-ouch:not(.state-wave) .ouch {
  opacity: 1;
  transform: scale(1);
}

.feedbackWrapper {
  height: 100%;
  pointer-events: none;
  position: relative;
  transform: translate(u.rem-calc(-60), u.rem-calc(-60)) scale(1.6);
  width: 100%;
  z-index: -1;
}

.feedback {
  opacity: 0;
  position: absolute;
  transform: scale(0.2) rotate(-20deg);
  transition: 0.2s;
}
