@use 'scss/breakpoint' as bp;
@use 'scss/unit' as u;

@mixin slide-transform(
  $rotate: 17deg,
  $translate-mobile-x: 50,
  $translate-mobile-y: 70
) {
  transform: rotate($rotate) translateY(u.rem-calc(60)) scale(0.9) !important;

  @include bp.down(lg) {
    transform: rotate($rotate)
      translate(
        u.rem-calc($translate-mobile-x),
        u.rem-calc($translate-mobile-y)
      )
      scale(0.9) !important;
  }
}

.wrapper {
  position: relative;

  :global(.swiper) {
    overflow: visible !important;
  }

  :global(.atropos-inner) {
    overflow: visible !important;
  }

  :global(.swiper-slide-next) {
    z-index: -1;
  }

  :global(.atropos-scale) {
    pointer-events: none;
  }

  :global(.atropos-rotate) {
    pointer-events: all;
  }
}

.swiperWrapper {
  max-height: u.rem-calc(400);
  overflow: visible;
  width: 100%;
}

.slideWrapper {
  max-width: u.rem-calc(500);
}

.isNext {
  @include slide-transform();

  opacity: 0.65;
  pointer-events: none;
}

.isPrev {
  @include slide-transform(-17deg, -50, 70);

  opacity: 0.65;
  pointer-events: none;
}

.slide {
  cursor: pointer;
  transition: 0.4s;
  width: 100%;

  &:not(.isActive, .isNext, .isPrev) {
    opacity: 0;
    transform: translateY(u.rem-calc(200)) scale(0.6);
    transition: 0.4s !important;
  }
}
